.advantages__title {
    margin-bottom: 30px;
}

.advantages__list {
    margin: 0;
    padding-left: 0;
    padding-bottom: 25px;
}

.advantages__item {
    margin-bottom: 30px;
    padding: 0;
    padding-right: 50px;

    font-size: 17px;
    font-weight: bold;

    line-height: 1.2;

    color: $black;
}

.advantages__item--like {
    padding-right: 55px;
}

.advantages__item--support {
    padding-top: 5px;
    padding-right: 0;
}

.advantages__item--gift {
    margin-bottom: 0;
    padding-top: 5px;
}

@media (min-width: 768px) {
    .advantages__wrapper {
        padding-top: 25px;
    }

    .advantages__list {
        display: flex;
        flex-wrap: wrap;
    }

    .advantages__item {
        width: 330px;
        min-height: 160px;

        margin-bottom: 0;
        padding-top: 20px;
        padding-left: 5px;

        font-size: 20px;
        line-height: 1;
    }

    .advantages__item--ecology {
        order: 1;
    }

    .advantages__item--love {
        order: 2;
    }

    .advantages__item--style {
        padding-top: 25px;
        padding-right: 80px;
        order: 3;
    }

    .advantages__item--support {
        padding-top: 28px;
        order: 4;
    }

    .advantages__item--like {
        padding-right: 100px;
        order: 5;
    }

    .advantages__item--gift {
        padding-top: 16px;
        order: 6;
    }
}

@media (min-width: 1150px) {
    .advantages__wrapper {
        margin-bottom: 0;
        padding-bottom: 35px;
    }

    .advantages__title {
        margin-bottom: 0;
        padding-top: 5px;
        padding-left: 170px;
    }

    .advantages__list {
        margin-top: 30px;
        padding: 0 175px 0;
    }

    .advantages__item {
        width: 350px;
        margin-bottom: 0;
        padding-right: 50px;
    }

    .advantages__item--style {
        padding-top: 20px;
        padding-right: 90px;
    }

    .advantages__item--like {
        padding-right: 110px;
    }

    .advantages__item--support {
        padding-top: 24px;
    }
}
