.button {
    width: 100%;
    padding: 15px 85px;

    font-family: "Open Sans", "Tahoma", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2;

    text-align: center;
    text-transform: uppercase;
    border: 2px solid $greyish-brown;
    cursor: pointer;

    background-color: transparent;
    color: $greyish-brown;
}

.button:hover,
.button:focus {
    color: $white;
    background-color: $greyish-brown;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}
