.contacts {
    position: relative;

    width: 100%;
    margin-bottom: 39px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: auto 6px;
    background-position: 50% 0;
}

.contacts__wrapper {
    padding-top: 20px;
}

.contacts__title {
    padding-bottom: 15px;

    font-size: 18px;
    font-weight: bold;

    line-height: 1.7;

    color: $black;
}

.contacts__wrap {
    display: flex;
}

.contacts__wrap--mail {
    margin-top: 15px;
    margin-bottom: 35px;
}

.contacts__mail {
    border-bottom: 1px solid $seafoam-blue;

    color: $greyish-brown;
}

.contacts__mail:hover,
.contacts__mail:focus {
    color: $greeny-blue-1;
}

.contacts__mail:active {
    opacity: 0.3;
}

.contacts__wrap--address {
    margin-bottom: 40px;
}

.contacts__label {
    padding-right: 30px;
}

.contacts__address {
    width: 145px;
    margin-top: 0;

    line-height: 2;
}

.contacts__map {
    position: relative;
}

.contacts__map img {
    z-index: 0;
    width: 100%;
    height: 457px;
}

.contacts__iframe {
    position: absolute;
    z-index: 6;
    width: 100%;
}

.contacts__link-wrap {
    padding: 0 30px;
}

.contacts__link {
    display: block;

    margin-top: 26px;
    padding: 15px 53px;

    text-align: center;
}

@media (min-width: 768px) {
    .contacts {
        background-repeat: repeat-x;
        background-size: auto 15px;
    }

    .contacts__wrapper {
        padding-top: 13px;
    }

    .contacts__block {
        position: relative;

        padding-bottom: 65px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contacts__title {
        width: 100%;
        padding-top: 7px;
        padding-bottom: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 43px;
        line-height: 1;
    }

    .contacts__title::after {
        padding-right: 5px;
        content: url("../img/icon-flag.svg");
    }

    .contacts__wrap {
        margin-bottom: 0;

        font-size: 17px;
    }

    .contacts__label {
        padding-right: 25px;
    }

    .contacts__wrap--mail {
        height: 30px;
        margin-top: 0;
    }

    .contacts__address {
        width: 260px;

        line-height: 1.8;
    }

    .contacts__map {
        margin-top: -13px;
    }

    .contacts__link-wrap {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .contacts__link {
        width: 230px;
        margin: auto;
        margin-top: 45px;
        padding: 15px 20px;
    }
}

@media (min-width: 1150px) {
    .contacts {
        max-width: 1150px;
        margin: 0 auto;
        margin-bottom: 110px;
        padding: 95px 50px 0;

        display: flex;
        justify-content: center;

        background-repeat: no-repeat;
        background-size: 1050px 23px;
        background-position: 50% 0;
    }

    .contacts__wrapper {
        padding: 0;
    }

    .contacts__block {
        padding-top: 20px;
        padding-left: 170px;

        flex-direction: column;
    }

    .contacts__map {
        flex-basis: 100%;
        margin-top: 0;
    }

    .contacts__title {
        width: 270px;
        margin-bottom: 0;
        padding-bottom: 50px;

        font-size: 53px;
    }

    .contacts__title::after {
        position: absolute;
        top: 65px;
        left: 65px;
    }

    .contacts__wrap {
        padding-top: 5px;
        padding-left: 5px;
    }

    .contacts__wrap--address {
        padding-top: 35px;
    }

    .contacts__link-wrap {
        padding: 0;
    }

    .contacts__link {
        position: absolute;
        left: 228px;
        bottom: 0;

        margin-top: 0;
    }
}
