.order {
    padding-top: 10px;
    padding-bottom: 55px;
}

.order__description {
    padding: 15px 30px 10px;
    line-height: 1.8;
}

@media (min-width: 768px) {
    .order__description {
        padding: 17px 52px 37px;

        font-size: 17px;
    }
}

@media (min-width: 1150px) {
    .order__description {
        padding-top: 55px;
        padding-bottom: 40px;
        padding-left: 225px;
        padding-right: 200px;
    }
}
