.page-footer {
  background-color: $white-1;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  border-bottom: 2px solid $white-2;
}

@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
    margin-right: 75px;
  }

  .page-footer__logo[href]:hover,
  .page-footer__logo[href]:focus {
    fill: $greeny-blue-1;
  }

  .page-footer__logo[href]:active {
    opacity: 0.3;
  }

  .page-footer__wrapper {
    padding-top: 45px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-footer__social {
    border-bottom: none;
  }
}
