.process {
    margin-bottom: 60px;
}

.process__title {
    margin: 0;
    padding: 23px 43px 27px 35px;

    display: flex;
    align-items: flex-end;

    border: 1px solid $white-2;
}

.process__title::before {
    padding-right: 25px;
    content: url("../img/icon-video.svg");
}

.process__video {
    position: relative;
    font-size: 0;
}

.process__button {
    position: absolute;
    top: 35px;
    left: 75px;

    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.process__button:hover,
.process__button:focus {
    transform: scale(1.2);
}

.process__button:active {
    transform: scale(0.8);

    opacity: 0.3;
}

.process__wrap {
    padding: 25px 35px;

    border: 1px solid $white-2;
}

.process__description {
    margin: 0;
    padding-bottom: 27px;

    line-height: 1.8;
}

.process:hover .process__wrap,
.process:focus .process__wrap {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.process:active .process__wrap {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.process__link {
    display: block;
    padding: 15px 0;

    text-align: center;
}

@media (min-width: 768px) {
    .process__wrapper {
        display: flex;
        flex-direction: column;
    
    }

    .process__title {
        padding-top: 30px;
        padding-left: 45px;

        order: 2;
        align-items: center;

        font-size: 20px;
        line-height: 1.2;
        border-bottom: none;
    }

    .process__video {
        order: 1;
    }

    .process__image {
        width: 668px;
        height: 455px;
    }

    .process__button {
        top: 190px;
        left: 283px;
    }

    .process__wrap {
        padding-top: 0;
        padding-bottom: 50px;

        order: 3;

        border-top: none;
    }

    .process__description {
        padding-bottom: 35px;

        font-size: 15px;
        line-height: 2;
    }
}

@media (min-width: 1150px) {
    .process__wrapper {
        min-height: 455px;
        position: relative;
        margin-top: 25px;
        padding-bottom: 50px;

        align-items: flex-end;

        border-left: none;
    }
 
        .process__title {
        max-width: 370px;
        height: 150px;
        padding: 40px 70px 0 80px;

        flex-direction: column;
        align-items: flex-start;

        border-left: none;
    }

    .process:hover .process__title,
    .process:focus .process__title {
        box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .process:active .process__title {
        box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1);
    }

    .process__title::before {
        padding-bottom: 20px;
    }

    .process__video {
        position: absolute;
        top: 0;
        left: 50px;
    }

    .process__image {
        width: 682px;
    }

    .process__wrap {
        max-width: 370px;
        padding-top: 30px;
        padding-bottom: 62px;
        padding-left: 80px;

        border-left: none;
    }

    .process__description {
        padding-bottom: 45px;
    }

    .process__link {
        width: 230px;
    }
}
