html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.feedback ul {
  list-style: none;
}

.feedback a {
  text-decoration: none;
}

.feedback p {
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;

  color: #444444;
}
