/*colors*/

$white: #ffffff;
$white-1: #f1f1f1;
$white-2: #ececec;
$grey: #989898;
$grey-1: #f9f9f9;
$grey-2: #c6c6c6;
$black: #000000;
$black-1: #010000;
$black-2: #231f20;
$greyish-brown: #444444;
$seafoam-blue: #63d1bb;
$seafoam-blue-1: #59d5bc;
$seafoam-blue-2: #62d1ba;
$greeny-blue: #56c3b2;
$greeny-blue-1: #46c1ae;

/*screen resolution*/

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
